<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <a class="nav-link" href={{ url_for('index') }}>A1 Gaming</a>
            <a class="nav-link" href={{ url_for('PCs') }}>PCs</a>
            <a class="nav-link" href={{ url_for('Console') }}>Console</a>
            <a class="nav-link" href={{ url_for('Mobile') }}>Mobile</a>

            <!-- stub is shown using the name of the route -->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                    About Us
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href="/danielgreet/">About Daniel</a>
                    <a class="dropdown-item" href="/dylangreet/">About Dylan</a>
                    <a class="dropdown-item" href="/karthikgreet/">About Karthik</a>
                    <a class="dropdown-item" href="/williamgreet/">About William</a>
                    <a class="dropdown-item" href="/rgb/">About Us -- RGB</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                    Mini-Labs
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="nav-link" href="/Video Journals/">Video Journals</a>
                    <a class="nav-link" href="/binary/">Binary</a>
                    <a class="nav-link" href="/howitsmade/">How It's Made</a>
                    <a class="nav-link" href="/LogicGateLab/">Logic Gate Lab</a>
                    <a class="nav-link" href="/binary RGB 2/">Color Codes Lab</a>
                    <a class="nav-link" href="/Unsigned Addition Binary/">Unsigned Addition Binary Lab</a>
                    <a class="nav-link" href="/Signed Addition/">Signed Addition Binary Lab</a>

                </div>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                    APIs
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="nav-link" href="/Video Games Database API/">Currency Exchange Rates</a>
                    <a class="nav-link" href="/random stuff generator/">Brian Pain Jokes</a>
                    <a class="nav-link" href="/Chuck Jokes/">Chuck Norris Jokes</a>
                    <a class="nav-link" href="/covidstats/">COVID-19 Stats</a>

                </div>

            </div>
        </div>
    </div>
</nav>
