{% extends "layouts/base.html" %}
<!-- Custom block for standardizing Project Data-->
{% block links %}




    <div class="col-3">
        <a style = "position:relative; left:-90px; top: -10px;" href="/Playstation/" class="btn">PlayStation</a>
    </div>

    <div class="col-3">
        <a style = "position:relative; left:-85px; top: -10px;" href="/xbox/" class="btn">Xbox</a>
    </div>

    <div class="col-3">
        <a style = "position:relative; left:-200px; top: -10px;" href="/Nintendo/" class="btn">Nintendo</a>
    </div>

{% endblock %}

</html>

<!-- <div class="col-3">
        <a href="{{ laptops }}" class="btn">Laptops</a>
    </div>

        <div class="col-3">
        <a style = "position:relative; left: 200px; top:-375px;" href="{{ PC }}" class="btn">PC</a>
    </div>

