<!DOCTYPE html>
<html lang="en>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>About Me: Daniel Levy</title>
</head>
<body>
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
    <div class="col-12">
        <p>Hello, {{name1}}!</p>
    </div>
    <div class="col-12">
        <form action="/aboutmedylan" id="aboutmedylan" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name = "name" id = "name">
            <input type="submit" value="Greetings!">
        </form>
    </div>
    <div class="col-12">
    </div>
</div>
<div class="container">
    <h1>Dylan Luo</h1>
    <div class="image">
        <div class="image">
            <img src="/static/assets/dylan.jpg" alt="Dylan Photo">
        </div>
        <p>
            Hello, my name is Dylan Luo. I am 16 years old and I am currently a junior at Del Norte High School. My favorite subject is history. I enjoy soccer, reading, and spending time with friends.
        </p>
    </div>
</div>
</body>
</html>