<!DOCTYPE html>
<html lang="en>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>About Me: Daniel Levy</title>
</head>
<body>
    <div class="container">
        <h1>Daniel Levy</h1>
        <div class="image">
            <div class="image">
                <img src="/static/assets/DanielPhotograph.PNG" alt="DanielPhotograph">
            </div>
            <p>
                Hello, my name is Daniel Levy. I am 17 years old and I am currently a junior at Del Norte High School. My favorite subjects are math and computer science. I enjoy hiking, biking, swimming, and spending time with my friends and family.
            </p>
        </div>
    </div>
</body>
</html>