<!DOCTYPE html>
<html lang="en>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>About Me: Daniel Levy</title>
</head>
<body>
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
    <div class="col-12">
        <p>Hello, {{name1}}!</p>
    </div>
    <div class="col-12">
        <form action="/aboutmekarthik" id="aboutmekarthik" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name = "name" id = "name">
            <input type="submit" value="Greetings!">
        </form>
    </div>
    <div class="col-12">
    </div>
</div>
<div class="container">
    <h1>Karthik Valluri</h1>
    <div class="image">
        <div class="image">
            <img src="/static/assets/karthik.PNG" alt="Karthik Photo">
        </div>
        <p>
            Hello, my name is Karthik Valluri. I am 15 years old and am currently a sophomore at Del Norte High School. My favorite subject is science. I enjoy playing Valorant and reading in my free time.
        </p>
    </div>
</div>
</body>
</html>