<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Who is Daniel?</title>
</head>
<body>
<div class="center-block" style="margin: 2% 5% 5%; text-align:center; font-family: 'MADE Soulmaze';">
    <div class="col-12">
        <p style="color: white">Hello, {{name1}}!</p>
    </div>
    <div class="col-12">
        <form action="/danielgreet/" id="danielgreet" method="POST" >
            <label for="name" style="color: white">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>
        <p>

        </p>
    </div>
    <div class="col-12">
    </div>
</div>



<h1 style="text-align: center; color: aqua; font-family: Mytupi";> About Me</h1>

<p style="text-align: center; color: blanchedalmond; font-family: Mytupi"> Hi, my name is Daniel Levy. I am 17 years old and I am a junior at Del Norte High School. My favorite subjects are math and computer science. I enjoy hiking, biking, swimming, and spending time with friends.
<p style="text-align: center; color: blanchedalmond; font-family: Mytupi">


<!-- karthik is goated honestly -->

</body>

</html>

{% block background %}

    <style>
        body {
            background-image: url('https://i.pinimg.com/originals/a9/01/54/a90154788da324f70dd77667e75cf49e.jpg');
        }
    </style>

{% endblock %}