<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Who is Dylan?</title>
</head>
<body>
<div class="center-block" style="margin: 2% 5% 5%; text-align:center; font-family: 'MADE Soulmaze';">
    <div class="col-12">
        <p style="color: white">Hello, {{name1}}!</p>
    </div>
    <div class="col-12">
        <form action="/danielgreet/" id="danielgreet" method="POST" >
            <label for="name" style="color: white">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>
        <p>

        </p>
    </div>
    <div class="col-12">
    </div>
</div>



<h1 style="text-align: center; color: aqua; font-family: Mytupi";> About Me</h1>

<p style="text-align: center; color: blanchedalmond; font-family: Mytupi">

<p style="text-align: center; color: blanchedalmond; font-family: Mytupi"> My name is Dylan Luo. I am 16 and I am a junior at Del Norte High School. My favorite subjects are math and history. I enjoy watching and playing soccer with my friends.

<!-- karthik is goated honestly -->

</body>

</html>

{% block background %}

    <style>
        body {
            background-image: url('https://wallpaperaccess.com/full/2029165.jpg');
        }
    </style>

{% endblock %}