<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/project.html" %}

<!-- Setting up variables to customize "project" details to be specific to kangaroos  -->
{% set project = "PC" %}
{% set Laptops = "https://www.youtube.com/watch?v=qXU-4Dwkv2E" %}
{% set Desktops = "https://www.youtube.com/channel/UClIKOsDS5dsfzFA3zveDT3Q?view_as=subscriber" %}
{% set Monitors = "https://github.com/avabrooks/Python-Web-Portfolio-Series-Demo" %}
{% set Mice = "https://thesmack.nighthawkcodingsociety.com/digitalPortfolios/"  %}

<!-- Setting up a block replacement to customize background to RINGS -->
{% block background %}
<style>
    body {
        background-image: url('https://cdn.wallpapersafari.com/33/7/ZmRcgk.jpg');
    }
</style>
{% endblock %}

<!-- <script src="{{ url_for('static', filename='three.r119.min.js') }}"></script>
<script src="{{ url_for('static', filename='vanta.halo.min.js') }}"></script>
<script>
    VANTA.HALO({
        el: "body",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00
    })
</script>

<style>
        body {
            background-image: url('https://images.hdqwalls.com/download/astronaut-science-fiction-4k-kq-1920x1080.jpg');
        }
    </style>