<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="center-block" style="margin: 2% 5% 5%; text-align:center; font-family: 'MADE Soulmaze';">
    <div class="col-12">
        <p style="color: white">Hello, {{name1}}!</p>
    </div>
    <div class="col-12">
        <form action="/karthikgreet/" id="karthikgreet" method="POST" >
            <label for="name" style="color: white">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>
    </div>
    <div class="col-12">
    </div>
</div>



<h1 style="text-align: center; color: aqua; font-family: Mytupi";> About Me</h1>

<p style="text-align: center; color: blanchedalmond; font-family: Mytupi"> Hi, I am Karthik Valluri. I am 15 y/o and I enjoy watching basketball & soccer. I also enjoy playing tennis, video games, and playing sports with my friends. </p>

<iframe src="https://drive.google.com/file/d/13PEk9P0xAK6Od0pbejCFa_Y1AQy3Op_m/preview" width="325" height="640" allow="autoplay"></iframe>

<!-- karthik is goated honestly -->

</body>

</html>

{% block background %}

    <style>
        body {
            background-image: url('https://wallpapercave.com/wp/wp5405231.jpg');
        }
    </style>

{% endblock %}