<!DOCTYPE html>
<html lang="en">
<head>
    <h1 style="font-family: 'MADE Soulmaze'; color: aqua; font-size: 80px; text-align: center "> Mini-Labs</h1>
    <h2 style="font-family: 'MADE Soulmaze Outline'; color: red; font-size: 30px; text-align: center "> Karthik Valluri </h2>
    <meta charset="UTF-8">
    <title>Mini-Labs</title>
</head>
<body>
<p style="color: white ; font-size: 30px ; font-family: 'MADE Soulmaze Brush'">Video Journal 0</p>

<iframe src="https://drive.google.com/file/d/10UmkPW1bjmuplUbI6kgc_s0frunjA5Cn/preview" width="1080" height="720" allow="autoplay"></iframe>

</body>
</html>

{% block background %}

    <style>
        body {
            background-image: url('https://images.wallpaperscraft.com/image/laptop_phone_desktop_179989_1920x1080.jpg');
        }
    </style>

{% endblock %}