<!DOCTYPE HTML>
<html lang="en">


<head>
    <title>Samsung</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        img {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
        }
        img:hover {
            -webkit-filter: grayscale(0);
            filter: none;
        }
        h1 {
            color: #ffffff;
        }
    </style>

<body>

</body>

</html>

{% block background %}

<style>
    body {
        background-image: url('https://images.hdqwalls.com/download/minimalist-landscape-to-1920x1080.jpg');
    }
</style>

</head>


<body>

{% include "layouts/navbar.html" %}

<h1 class="text-center" style="margin-top: 15px; margin-bottom: -11px; ">Samsung Devices</h1>


<div class="row">

    <div class="card" style="width: 200px; margin-right: 5px; margin-top: 40px; margin-left: 55px;">
        <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6444/6444519_sd.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Samsung Galaxy S21</h5>
            <p class="card-text">Model Name: S21  ㅤ  OS: Android<br>Screen Size: 6.2 Inches Hertz: 120</p>
            <a href="#" class="btn btn-primary">Buy</a>

        </div>
    </div>


    <div class="card" style="width: 200px; margin-right: 5px; margin-top: 40px; margin-left: 65px;">
        <img src="https://www.mytrendyphone.eu/images/Samsung-Galaxy-S20-FE-Duos-128GB-Cloud-Navy-8806090716935-02102020-01-p.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Samsung Galaxy S20</h5>
            <p class="card-text">Model Name: S20 ㅤ OS: AndroidㅤㅤㅤScreen Size: 6.2  ㅤ  Hertz: 120 ㅤㅤㅤ Starting Price: $999</p>
            <a href="/404Error/" class="btn btn-primary">Buy</a>

        </div>
    </div>

    <div class="card" style="width: 200px; margin-right: 5px; margin-top: 40px; margin-left: 60px;">
        <img src="https://m.media-amazon.com/images/I/61YVqHdFRxL._AC_SL1322_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Samsung Galaxy S10</h5>
            <p class="card-text">Model Name: S10 ㅤ OS: AndroidㅤㅤㅤScreen Size: 6.1 ㅤ Hertz: 60 ㅤㅤㅤ Starting Price: $749</p>
            <a href="#" class="btn btn-primary">Buy</a>

        </div>
    </div>

    <div class="card" style="width: 200px; margin-right: 5px; margin-top: 40px; margin-left: 65px;">
        <img src="https://m.media-amazon.com/images/I/81+h9mpyQmL._AC_SX522_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Samsung Galaxy S9</h5>
            <p class="card-text">Model Name: S9 ㅤ OS: AndroidㅤㅤㅤScreen Size: 5.8 ㅤㅤ Starting Price: $719</p>
            <a href="#" class="btn btn-primary">Buy</a>
        </div>
    </div>

    <div class="card" style="width: 200px; margin-right: 5px; margin-top: 40px; margin-left: 65px;">
        <img src="https://m.media-amazon.com/images/I/41tfoUf5quL._AC_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Samsung Galaxy S8</h5>
            <p class="card-text">Model Name: S8 ㅤ OS: AndroidㅤㅤㅤScreen Size: 5.8 ㅤㅤ Starting Price: $699  ㅤ Hertz: 60 ㅤ</p>
            <a href="#" class="btn btn-primary">Buy</a>

        </div>
    </div>

    <div class="card" style="width: 200px; margin-right: 5px; margin-top: 80px; margin-left: 55px;">
        <img src="https://m.media-amazon.com/images/I/81AT+Flc+EL._AC_SL1500_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Samsung Galaxy Note 20</h5>
            <p class="card-text">Model Name: Note 20 OS: AndroidㅤㅤㅤScreen Size: 6.7 ㅤㅤ Starting Price: $999  ㅤ Hertz: 120</p>
            <a href="#" class="btn btn-primary">Buy</a>
        </div>
    </div>

    <div class="card" style="width: 200px; margin-right: 5px; margin-top: 80px; margin-left: 60px;">
        <img src="https://m.media-amazon.com/images/I/71Q3OJH8fZL._AC_SX522_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Samsung Galaxy Note 10</h5>
            <p class="card-text">Model Name: Note 10 OS: AndroidㅤㅤㅤScreen Size: 6.3 ㅤㅤ Starting Price: $949  ㅤ Hertz: 60</p>
            <a href="#" class="btn btn-primary">Buy</a>

        </div>
    </div>

    <div class="card" style="width: 200px; margin-right: 5px; margin-top: 80px; margin-left: 60px;">
        <img src="https://m.media-amazon.com/images/I/711wBD1gQxL._AC_SL1500_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Samsung Galaxy Note 9</h5>
            <p class="card-text">Model Name: Note 9 OS: AndroidㅤㅤㅤScreen Size: 6.4 ㅤㅤ Starting Price: $750  ㅤ Hertz: 60</p>
            <a href="#" class="btn btn-primary">Buy</a>
        </div>
    </div>

    <div class="card" style="width: 200px; margin-right: 5px; margin-top: 80px; margin-left: 70px;">
        <img src="https://m.media-amazon.com/images/I/51F7RQb13xL._AC_SX522_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Samsung Galaxy Note 8</h5>
            <p class="card-text">Model Name: Note 20 OS: AndroidㅤㅤㅤScreen Size: 6.3 ㅤㅤ Starting Price: $500  ㅤ Hertz: 60</p>
            <a href="#" class="btn btn-primary">Buy</a>

        </div>
    </div>

    <div class="card" style="width: 200px; margin-right: 5px; margin-top: 80px; margin-left: 65px;">
        <img src="https://www.gizmochina.com/wp-content/uploads/2016/09/Samsung-Galaxy-Note-7-3-1-500x500.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Samsung Galaxy Note 7</h5>
            <p class="card-text">Model Name: Note 7 OS: AndroidㅤㅤㅤScreen Size: 5.7 ㅤㅤ Starting Price: $499  ㅤ Hertz: 60</p>
            <a href="#" class="btn btn-primary">Buy</a>

        </div>
    </div>



    <style>
        body {
            background-image: url('https://images.hdqwalls.com/download/minimalist-landscape-to-1920x1080.jpg');
            background-size: 2020px 1400px;

        }
    </style>

    <div class="center-block" style="margin: 2% 5% 5%; text-align:center; font-family: 'Merriweather Black';">
        <div class="col-12">
            <p style="color: white">{{name1}} is available!</p>
        </div>
        <div class="col-12">
            <form action="/samsung/" id="samsung" method="POST" >
                <label for="name" style="color: white">What phone are you looking for today?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
            <p>

            </p>
        </div>
        <div class="col-12">
        </div>
    </div>




    {% endblock %}