<!-- Custom file for standardizing Project Data
This HTML is setup as as a Jinja2 layout, coders use layouts for:
 ... standardization of style
 ... setting expectations for data
 ... code reuse
-->
<!DOCTYPE HTML>
<html lang="en">



<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        :root{
            --white: whitesmoke;
            --black: black;
            --grey: grey;
        }


    <title>Samsung</title>

</head>

<body>
{% include "layouts/navbar.html" %}

<h1 style="text-align: center; color: aqua; font-family: Mytupi";>Samsung</h1>

</body>

</html>

{% block background %}

    <style>
        body {
            background-image: url('https://images.hdqwalls.com/download/minimalist-landscape-to-1920x1080.jpg');
        }
    </style>

    </head>

    <body>
    {% include "layouts/navbar.html" %}

    <h1 class="text-center" style="margin-top: 15px; margin-bottom: -11px; ">Samsung Devices</h1>


    <div class="row">

    <div class="card" style="width: 200px; margin-right: 5px; margin-top: 40px; margin-left: 55px;">
        <img src="https://www.cellcom.com/resources/phones/2598_SamsungGS21Gray-front_zoom.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Samsung Glaxy S21</h5>
            <p class="card-text">Model Name: S21  ㅤ  OS: AndroidㅤㅤㅤScreen Size: 6.2 Inches Hertz: 120</p>
        </div>
    </div>

        <div class="card" style="width: 200px; margin-right: 5px; margin-top: 40px; margin-left: 65px;">
            <img src="https://www.mytrendyphone.eu/images/Samsung-Galaxy-S20-FE-Duos-128GB-Cloud-Navy-8806090716935-02102020-01-p.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Samsung Glaxy S20</h5>
                <p class="card-text">This is the new S21 which is samsungs newest phone in the S series.</p>
            </div>
        </div>

        <div class="card" style="width: 200px; margin-right: 5px; margin-top: 40px; margin-left: 60px;">
            <img src="https://www.cellcom.com/resources/phones/2598_SamsungGS21Gray-front_zoom.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Samsung Glaxy S21</h5>
                <p class="card-text">This is the new S21 which is samsungs newest phone in the S series.</p>
            </div>
        </div>

        <div class="card" style="width: 200px; margin-right: 5px; margin-top: 40px; margin-left: 65px;">
            <img src="https://www.cellcom.com/resources/phones/2598_SamsungGS21Gray-front_zoom.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Samsung Glaxy S21</h5>
                <p class="card-text">This is the new S21 which is samsungs newest phone in the S series.</p>
            </div>
        </div>

        <div class="card" style="width: 200px; margin-right: 5px; margin-top: 40px; margin-left: 65px;">
            <img src="https://www.cellcom.com/resources/phones/2598_SamsungGS21Gray-front_zoom.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Samsung Glaxy S21</h5>
                <p class="card-text">This is the new S21 which is samsungs newest phone in the S series.</p>
            </div>
        </div>

        <div class="card" style="width: 200px; margin-right: 5px; margin-top: 80px; margin-left: 55px;">
            <img src="https://www.cellcom.com/resources/phones/2598_SamsungGS21Gray-front_zoom.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Samsung Glaxy S21</h5>
                <p class="card-text">This is the new S21 which is samsungs newest phone in the S series.</p>
            </div>
        </div>

        <div class="card" style="width: 200px; margin-right: 5px; margin-top: 80px; margin-left: 60px;">
            <img src="https://www.cellcom.com/resources/phones/2598_SamsungGS21Gray-front_zoom.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Samsung Glaxy S21</h5>
                <p class="card-text">This is the new S21 which is samsungs newest phone in the S series.</p>
            </div>
        </div>

        <div class="card" style="width: 200px; margin-right: 5px; margin-top: 80px; margin-left: 60px;">
            <img src="https://www.cellcom.com/resources/phones/2598_SamsungGS21Gray-front_zoom.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Samsung Glaxy S21</h5>
                <p class="card-text">This is the new S21 which is samsungs newest phone in the S series.</p>
            </div>
        </div>

        <div class="card" style="width: 200px; margin-right: 5px; margin-top: 80px; margin-left: 70px;">
            <img src="https://www.cellcom.com/resources/phones/2598_SamsungGS21Gray-front_zoom.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Samsung Glaxy S21</h5>
                <p class="card-text">This is the new S21 which is samsungs newest phone in the S series.</p>
            </div>
        </div>

        <div class="card" style="width: 200px; margin-right: 5px; margin-top: 80px; margin-left: 65px;">
            <img src="https://www.cellcom.com/resources/phones/2598_SamsungGS21Gray-front_zoom.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Samsung Glaxy S21</h5>
                <p class="card-text">This is the new S21 which is samsungs newest phone in the S series.</p>
            </div>
        </div>

    <style>
        body {
            background-image: url('https://images.hdqwalls.com/download/minimalist-landscape-to-1920x1080.jpg');
        }
    </style>
{% endblock %}